
<div *ngFor="let customer of customers">
  <h4>
    <a href="#/customerorders/{{customer.id}}">
      {{ customer.firstName + ' ' + customer.lastName }}
      <img class="float-right" height="60" src="assets/logo2.png" />
    </a>
  </h4>
  <table class="table table-hover table-striped table-condensed table-bordered ordersTable p-a-1">
    <tr *ngFor="let order of customer.orders">
      <td>
        {{ order.product }}
      </td>
      <td>
        {{ order.quantity }}
      </td>
      <td>
        {{ order.price | currency }}
      </td>
      <td>
        {{ order.orderTotal | currency }}
      </td>
    </tr>
    <tr class="info">
      <td colspan="3">
        &nbsp;
      </td>

            <td>
                <strong>{{ ordersTotal | currency }}</strong>
            </td>

    </tr>
  </table>
</div>
